# Creating my 1st workflow 
# This workflow will check out code and echo hello

name: My first Workflow

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: this step will checkout the code
      uses: actions/checkout@v2
    - name: This step will run the echo command
      run: echo "hello world"

