name: Using a manual trigger within a workflow

on:
  push:
  workflow_dispatch:
    inputs:
      python-version:
        description: 'Choose python version'
        required: true
        default: '3.9'
        type: choice
        options:
          - '3.11'
          - '3.10'
          - '3.9'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ${{ fromJson(format('["{0}"]', github.event.inputs.python-version)) }}

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tests
        run: python -m unittest discover

      - name: Confirm success
        if: success()
        run: echo "Tests successful on Python ${{ matrix.python-version }}"
