name: Using a manual trigger within a workflow 

# Manual trigger 
on: 
  push:
  workflow_dispatch:
    inputs:
      python-version:
        description: 'Choose python version'
        required: true
        default: '3.9'
        type: choice
        - 3.11
        - 3.9
        - 3.10

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
        matrix:
          python-version: ["3.11", "3.9", "3.10"]
   
   
    steps:
    - name: this step will checkout the code
      uses: actions/checkout@v2

    - name: This step will setup python using different versions
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: this step will run the test app
      run: python -m unittest discover
      # Runs all unittest tests in the current directory and subdirectories.

    - name: tells us whether previous steps were successful
      run: echo "tests successful on Python ${{ matrix.python-version }}"
      if: success()