name: Using a manual trigger within a workflow

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: this step will checkout the code
      uses: actions/checkout@v2
    
    - name: This step will run the echo command
      run: echo "hello world"
