name: Using a manual trigger within a workflow

name: Manual trigger example

on:
  push:
  workflow_dispatch:
    inputs:
      python-version:
        description: 'Choose Python version'
        required: true
        default: '3.9'
        type: choice
        options:
          - '3.11'
          - '3.10'
          - '3.9'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ github.event.inputs.python-version }}

      - name: Run tests
        run: python -m unittest discover

      - name: Success message
        if: success()
        run: echo "Tests successful on Python ${{ github.event.inputs.python-version }}"
